<main class="account-view">
    <section>
        <img class="account-form-image" src="https://s3-alpha-sig.figma.com/img/35a6/ae21/9ccfdee80e9faa18427e56cc62a50416?Expires=1698624000&Signature=Xlj93h2TSgaHk-LkIeT4Qy-e8lGdGSAydxpRumrxWUX~Xvey~-VVXek1-EDPwmaf84Lknx2aLndUz99NFAD98UD8c2azLF-YKRf-2~DIcRLrvaqgPCtJKzHIGozvA6ZgVQ~dfuEUfXugfGbUnGL7ZAAv0g~B-bFgeHhdfvcgizOzRSE~X0qzXZVi8Q4gBgWysejik8FTSzxwaIea-pego0TWtEsyK0ZZDKfktDa59aXk7G7ehBljdFsOc1E7-3A9~182DhWBT~WDZY1jLwrt4eIbbkPq1r~HPOLnwxpkiIb7ifICPClr9sAanK-Zyjcc4bPtahxoFjKKasOJT060jQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="">
    </section>

    <section>
        <form class="account-form-main-container" action="">
            <div class="account-form-container">
                <label class="account-form-text" for="">Nombre: </label>
                <input class="account-form-input" type="text">
            </div>
            <div class="account-form-container">
                <label class="account-form-text" for="">Correo: </label>
                <input class="account-form-input" type="password">
            </div>
            <div class="account-form-container">
                <label class="account-form-text" for="">Contraseña: </label>
                <input class="account-form-input" type="password">
            </div>
            <button class="account-form-button">
                Actualizar datos
            </button>
        </form>
    </section>
</main>