<main class="add-ingredient-main-container">
  <h1 class="add-ingredient-title"> Añada un ingrediente </h1>
  <div>
    <form  class="add-ingredient-form">
      <div>
        <label>Ingrediente:</label>
        <input class="add-ingredient-input" 
          name="ingredientName" 
          [(ngModel)]="ingredient.name"
        >
      </div>
      <div>
        <label>Cantidad:</label>
        <input class="add-ingredient-input" 
          name="ingredientQuantity" 
          [(ngModel)]="ingredient.quantity"
        >
      </div>
      <div>
        <label>Descripción:</label>
        <input class="add-ingredient-input" 
          name="ingredientDescription" 
          [(ngModel)]="ingredient.description"
        >
      </div>
    </form>
  </div>
  <div>
    <button (click)="handleClose()"
      class="add-ingredient-button"
    >Cerrar</button>
    <button [mat-dialog-close]="ingredient" 
      cdkFocusInitial
      class="add-ingredient-button"
    >Agregar</button>
  </div>
</main>