<main class="login-view">
    <section>
        <img class="login-form-image" src="https://s3-alpha-sig.figma.com/img/35a6/ae21/9ccfdee80e9faa18427e56cc62a50416?Expires=1697414400&Signature=gAmIxTpG8rAyFt8CGe~o0hOQES3Iun4z6doQgo6XFMrP2GXQ9QuhvhORZ62jxwzDdiLSTY61Z1ZkH1ugDUz2Wv2DeX0AGOly6XNQm8R5aim7mSgscxUYsOh-1SayxBBNgHteiLMJF8zlnHrvnMLqwl3hYxTQ72shYmHTYtVUmS3cpUkU-1E0ZHb4eGIjftzGzuMd8t1LnOAHvk67aG9jS9h~XRO84Pvvyu9xbYZZdqbrSBXY36QnOoXInjPs-94f3SxTCDsltLH~YFMU1ImiXbyzKzxU4fDDfacDM~Xu3FAyJeb7WxUYdCDJyYtaef7w0np9WEtMmx5X-ZHdMQDB2Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="">
    </section>

    <section>
        <form class="login-form-main-container" action="">
            <div class="login-form-container">
                <label class="login-form-text" for="">Usuario: </label>
                <input class="login-form-input" type="text">
            </div>
            <div class="login-form-container">
                <label class="login-form-text" for="">Contraseña: </label>
                <input class="login-form-input" type="password">
                <p class="login-form-subtext">Registrate pulsando <a class="login-form-subtext href" href="/register">aquí</a> </p>
            </div>
            <button class="login-form-button">
                Ingresar
            </button>
        </form>
    </section>
</main>