<main class="login-view">
    <section>
        <img class="login-form-image" src="https://s3-alpha-sig.figma.com/img/35a6/ae21/9ccfdee80e9faa18427e56cc62a50416?Expires=1698624000&Signature=Xlj93h2TSgaHk-LkIeT4Qy-e8lGdGSAydxpRumrxWUX~Xvey~-VVXek1-EDPwmaf84Lknx2aLndUz99NFAD98UD8c2azLF-YKRf-2~DIcRLrvaqgPCtJKzHIGozvA6ZgVQ~dfuEUfXugfGbUnGL7ZAAv0g~B-bFgeHhdfvcgizOzRSE~X0qzXZVi8Q4gBgWysejik8FTSzxwaIea-pego0TWtEsyK0ZZDKfktDa59aXk7G7ehBljdFsOc1E7-3A9~182DhWBT~WDZY1jLwrt4eIbbkPq1r~HPOLnwxpkiIb7ifICPClr9sAanK-Zyjcc4bPtahxoFjKKasOJT060jQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="">
    </section>

    <section>
        <form class="login-form-main-container" action="">
            <div class="login-form-container">
                <label class="login-form-text" for="">Usuario: </label>
                <input class="login-form-input" type="text">
            </div>
            <div class="login-form-container">
                <label class="login-form-text" for="">Contraseña: </label>
                <input class="login-form-input" type="password">
                <p class="login-form-subtext">Registrate pulsando <a class="login-form-subtext href" href="/register">aquí</a> </p>
            </div>
            <button class="login-form-button">
                Ingresar
            </button>
        </form>
    </section>
</main>