<main class="login-view">
    <section>
        <img class="login-form-image" src="./assets/LogoFoodmaker.PNG" alt="">
    </section>

    <section>
        <form class="login-form-main-container" 
            [formGroup]="loginForm"
            (ngSubmit)="handleLoginSubmit()"
        >
            <div class="login-form-container">
                <label class="login-form-text" for="">Correo: </label>
                <input class="login-form-input" 
                    formControlName="email"
                    type="text"
                >
            </div>
            <div class="login-form-container">
                <label class="login-form-text" for="">Contraseña: </label>
                <input class="login-form-input" 
                    formControlName="password"
                    type="password"
                >
                <p class="login-form-subtext">Registrate pulsando <a class="login-form-subtext href" href="/register">aquí</a> </p>
            </div>
            <button class="login-form-button" type="submit">
                Ingresar
            </button>
        </form>
    </section>
</main>