<main class="recipe-cards-main-container">
    <app-recipe-card
    ></app-recipe-card>
    <app-recipe-card
    ></app-recipe-card>
    <app-recipe-card
    ></app-recipe-card>
    <app-recipe-card
    ></app-recipe-card>
    <app-recipe-card
    ></app-recipe-card>
    <app-recipe-card
    ></app-recipe-card>
    <app-recipe-card
    ></app-recipe-card>
    <app-recipe-card
    ></app-recipe-card>
    <app-recipe-card
    ></app-recipe-card>
    <app-recipe-card
    ></app-recipe-card>
    <app-recipe-card
    ></app-recipe-card>
    <app-recipe-card
    ></app-recipe-card>
    <app-recipe-card
    ></app-recipe-card>
    <app-recipe-card
    ></app-recipe-card>
    <app-recipe-card
    ></app-recipe-card>
</main>