<main class="register-view">
    <section>
        <img class="register-form-image" src="https://s3-alpha-sig.figma.com/img/35a6/ae21/9ccfdee80e9faa18427e56cc62a50416?Expires=1698624000&Signature=Xlj93h2TSgaHk-LkIeT4Qy-e8lGdGSAydxpRumrxWUX~Xvey~-VVXek1-EDPwmaf84Lknx2aLndUz99NFAD98UD8c2azLF-YKRf-2~DIcRLrvaqgPCtJKzHIGozvA6ZgVQ~dfuEUfXugfGbUnGL7ZAAv0g~B-bFgeHhdfvcgizOzRSE~X0qzXZVi8Q4gBgWysejik8FTSzxwaIea-pego0TWtEsyK0ZZDKfktDa59aXk7G7ehBljdFsOc1E7-3A9~182DhWBT~WDZY1jLwrt4eIbbkPq1r~HPOLnwxpkiIb7ifICPClr9sAanK-Zyjcc4bPtahxoFjKKasOJT060jQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="">
    </section>

    <section>
        <form class="register-form-main-container" 
            [formGroup]="registerForm"
            (ngSubmit)="handleRegisterSubmit()"
        >
            <div class="register-form-container">
                <label class="register-form-text" for="">Nombre: </label>
                <input class="register-form-input" 
                    formControlName="name"
                    type="text"
                >
            </div>
            <div class="register-form-container">
                <label class="register-form-text" for="">Correo: </label>
                <input class="register-form-input" 
                    formControlName="email"
                    type="email"
                >
            </div>
            <div class="register-form-container">
                <label class="register-form-text" for="">Contraseña: </label>
                <input class="register-form-input" 
                    formControlName="password"
                    type="password"
                >
            </div>
            <button class="register-form-button" type="submit">
                Registar
            </button>

            <p class="register-form-subtext">Ingresa pulsando <a class="register-form-subtext href" href="/login">aquí</a> </p>
        </form>
    </section>
</main>