<main class="welcome-view">
    <section>
        <img class="welcome-image" src="https://s3-alpha-sig.figma.com/img/35a6/ae21/9ccfdee80e9faa18427e56cc62a50416?Expires=1698624000&Signature=Xlj93h2TSgaHk-LkIeT4Qy-e8lGdGSAydxpRumrxWUX~Xvey~-VVXek1-EDPwmaf84Lknx2aLndUz99NFAD98UD8c2azLF-YKRf-2~DIcRLrvaqgPCtJKzHIGozvA6ZgVQ~dfuEUfXugfGbUnGL7ZAAv0g~B-bFgeHhdfvcgizOzRSE~X0qzXZVi8Q4gBgWysejik8FTSzxwaIea-pego0TWtEsyK0ZZDKfktDa59aXk7G7ehBljdFsOc1E7-3A9~182DhWBT~WDZY1jLwrt4eIbbkPq1r~HPOLnwxpkiIb7ifICPClr9sAanK-Zyjcc4bPtahxoFjKKasOJT060jQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="">
    </section>

    <section>
        <p class="welcome-main-title" >
            Bienvenido a <span class="welcome-main-title-highlight">"FoodMaker"</span>
        </p>
        <h1 class="welcome-username"> {{ nombre }} </h1>
    </section>

    <section>
        <form class="welcome-form-main-container" action="">
            <p class="welcome-form-text">¿De cuanto tiempo dispones para cocinar?</p>

            <div class="welcome-form-subcontainer">
                <input class="welcome-form-input" 
                    type="number" 
                    minlength="2" 
                    maxlength="2"
                    value="00"
                    required
                >
                
                <span class="welcome-form-input-separator">
                    :
                </span>
                
                <input class="welcome-form-input" 
                    type="number" 
                    minlength="2" 
                    maxlength="2"
                    value="00"
                    required
                >
            </div>

            <button class="welcome-form-button">
                Confirmar
            </button>
        </form>
    </section>
</main>