<main class="welcome-view">
    <section>
        <img class="welcome-image" src="./assets/LogoFoodmaker.PNG" alt="">
    </section>

    <section>
        <p class="welcome-main-title" >
            Bienvenido a <span class="welcome-main-title-highlight">"FoodMaker"</span>
        </p>
        <h1 class="welcome-username"> {{ nombreUsuario }} 😊 </h1>
    </section>

    <section>
        <form class="welcome-form-main-container" (ngSubmit)="confirmarTiempo()">
            <p class="welcome-form-text">¿De cuanto tiempo dispones para cocinar?</p>

            <div class="welcome-form-subcontainer">
                <input class="welcome-form-input" 
                    type="number" 
                    name="tiempoPreparacion"
                    min="1"
                    [(ngModel)] = "tiempoPreparacion" 
                    required
                >
                
                <span class="welcome-form-input-separator">
                    minutos
                </span>
            </div>

            <button class="welcome-form-button" type="submit">
                Confirmar
            </button>
        </form>
    </section>
</main>